//Primary Colors
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffff;
//Secondary Colors
$bandsite-dark-black: #0000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//Breakpoint variables

$breakpoints: (
  "mobile": 320px,
  "tablet": 768px,
  "desktop": 1280px,
);
