@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
.header {
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    @include tablet-query {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    @include tablet-query {
      display: none;
    }

    &__input-group {
      position: relative;
    }

    &__logo-image {
      max-height: 1.5625rem;
      max-width: 7.5rem;
    }
    &__icon {
      position: absolute;
      height: 0.8rem;
      top: 0.7rem;
      left: 0.5rem;
    }
    &__input {
      padding-left: 1.8rem;
      border-radius: 0.25rem;
      border: 1px solid $Mercury;
      outline: $Alabaster;
      min-width: 15rem;
      min-height: 2.25rem;
      @include m-bodyCopy;
      &::placeholder {
        color: $BrainFlix-Black;
      }
    }
    &__mohan {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
    &__image {
      @include tablet-query {
      }
    }
    &__button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5.5rem;
      font-weight: 600;
      padding-left: 0.8rem;
      width: 18.75rem;
      min-width: 9.375rem;
      height: 2.5rem;
      color: $White;
      background-color: $BrainFlix-Blue;
      border: none;
      border-radius: 0.25rem;
      margin-top: 1rem;
      &:hover {
        background-color: $BrainFlix-DarkBlue;
      }
      @include tablet-query {
        order: 0;
        margin-top: 0;
      }
    }
  }
}
