@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.upload {
  color: $BrainFlix-Black;
  padding: 2rem 1rem;
  //add a border bottom to the header to get rid of this red
  border-top: 2px solid $Mercury;
  margin-top: 1rem;
  @include desktop-query {
    padding: 0rem 8rem;
  }
  &__heading {
    @include m-pageHeader;
    // font-weight: 600; change this weight to get closer tp mock up
    padding-bottom: 1rem;
    border-bottom: 2px solid $Mercury;
    @include desktop-query {
      padding-top: 1rem;
      @include pageHeader;
    }
  }
  &__desktop-wrapper {
    @include desktop-query {
      display: flex;
    }
  }
  &__thumbnail-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include tablet-query {
      align-content: flex-start;
    }
    @include desktop-query {
      width: 42%;
    }
  }
  &__thumbnail-heading {
    // font-weight: 600; change this weight to get closer tp mock up
    @include m-subHeader;
    color: $Silver;
    padding: 1rem 0rem;
  }
  &__thumbnail-img {
    height: 10rem;
    width: 18rem;
    object-fit: fill;
    border-radius: 0.3125rem;
    @include tablet-query {
      width: 25rem;
      height: 15rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title-input,
  &__description-input {
    height: 2rem;
    color: $BrainFlix-Black;
    outline: $Mercury;
    border: 1px solid $Mercury;
    background-color: $Alabaster;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    @include desktop-query {
      width: 38rem;
    }
  }

  &__description-input {
    height: 5rem;
    // padding-top: 1rem;
  }
  &__description-input::placeholder,
  &__title-input::placeholder {
    align-self: flex-start;
    padding-left: 0.5rem;
    color: $BrainFlix-Black;
  }
  &__title-label,
  &__description-label {
    display: flex;
    flex-direction: column;
    color: $Silver;
    gap: 0.5rem;
    padding-top: 1.5rem;
  }
  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet-query {
      flex-direction: row-reverse;
      gap: 3rem;
      border-top: 2px solid $Mercury;
      margin-top: 1rem;
      justify-content: flex-start;
    }
  }

  &__publish-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5.5rem;
    font-weight: 600;
    padding-left: 0.8rem;
    width: 18.75rem;
    min-width: 9.375rem;
    height: 2.5rem;
    color: $White;
    background-color: $BrainFlix-Blue;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1rem;
    @include desktop-query {
      width: 5rem;
      gap: 1.2rem;
    }
    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }
  }
  &__cancel-btn {
    background-color: $White;
    outline: none;
    border: none;
    padding-top: 1.5rem;
    color: $BrainFlix-Blue;
    @include desktop-query {
      width: 5rem;
    }
  }
  &__alert {
    padding-top: 10rem;
    margin-top: 1rem;
  }
}
